body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
}

h1 {
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    border: black;
}

.task {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.task input[type="checkbox"] {
    margin-right: 10px;
}

.task.completed {
    text-decoration: line-through;
    color: #999;
}

.delete-button {
    background-color: #ff4136;
    border-radius: 10px;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #dc322f;
}

.add-task {
    display: flex;
    margin-top: 10px;
}

.add-task input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.add-task input[type="submit"] {
    background-color: #0074d9;
    border-radius: 10px;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.add-task input[type="submit"]:hover {
    background-color: #0056b3;
}
