body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    
}

h1 {
    text-align: center;
    text-decoration: underline;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    border: black;
}


button{
    /* background-color: #ff4136; */
    border-radius: 10px;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    /* background-color: #dc322f; */
}

.add-task {
    display: flex;
    margin-top: 10px;
    

}

.add-task input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    border: transparent;
}

.add-task input[type="submit"] {
    background-color: #0074d9;
    border-radius: 10px;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}



#container{
    justify-content: space-between;
    margin-bottom: 50px;
}
input{
    padding: 9px;
    margin-left: 40px;
    border-radius: 5px;
    margin-top: 10px;
    border: transparent;
}
button{
    padding: 5px 5px;
    margin-left: 60px;
    color: #ff4136;
    border-radius: 5px;
    
}